doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://yastatic.net/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='https://yastatic.net/jquery/2.1.4/jquery.min.js')
    script(type='application/javascript', src='/js/main.js')
